body {
  margin: 0;
  padding:0;
  background:linear-gradient(89deg,#b2b1ef 0%, #acd8ce 100%);
  font-family: -apple-system,'Monaco','Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 button{
   cursor: pointer;
 }
 